.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 1rem;
}


.headerDiv{
  display: grid;
  text-align: center;
  justify-items: center;
  background-color: rgb(145, 29, 139);
  
}

